<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>UnionPay Chat</title>
    <link rel="stylesheet" href="index.css">
    <script>
    function openUrl(url) {
        window.open('/?p=' + url,
            '',
            'width=580,height=380,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no,titlebar=no');
    }
    </script>
</head>

<body>
    <div class="main">
        <div class="logo">
            <img src="logo.png" alt="logo">
        </div>
        <div class="users">
            <a href="javascript:;" class="A" onclick="javascript:openUrl('A');">A</a>
            <a href="javascript:;" class="B" onclick="javascript:openUrl('B');">B</a>
            <a href="javascript:;" class="C" onclick="javascript:openUrl('APP');">APP</a>
        </div>
    </div>
</body>

</html>