<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>UnionPay</title>
    <link rel="stylesheet" href="index.css">
    <script>
    var width = 420;
    var height = 342;
    function openUrl(name, left, top) {
        window.open('/?p=' + name,
            name,
            'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top +
            ',directories=no,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no,titlebar=no');
    }
    </script>
</head>

<body>
    <div class="main">
        <div class="logo">
            <img src="logo.png" alt="logo">
        </div>
        <div class="users">
            <a href="javascript:;" class="A" onclick="javascript:openUrl('A', screen.width-width-9, 0);">A</a>
            <a href="javascript:;" class="B" onclick="javascript:openUrl('B', screen.width-width-9, screen.height-height-55)">B</a>
            <a href="javascript:;" class="C" onclick="javascript:openUrl('APP', 0, 0);">APP</a>
        </div>
    </div>
</body>

</html>